.video-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1%;
    height: 100vh;
}

.video-card{
    width: 30%;
}

.silence-wrapper1{
    display: flex;
    justify-content: flex-end;
    padding: 50px 23px 0px 0px;
}

.silence-wrapper1 .silence-button{
    position: relative;
}

.silence-wrapper2{
    display: flex;
    justify-content: center;
    padding: 4px 23px 0px 0px;
}

.silence-wrapper2 .silence-button{
    border-radius: 50%;
    position: absolute;
    top: 70%;
}

.silence-wrapper3{
    display: flex;
    justify-content: flex-start;
    padding: 35px 0px 0px 120px;
}

.silence-wrapper3 .silence-button{
    position: absolute;
    left: 50px;
    top: 100px;
}

.hidden{
    visibility: hidden;
}

.silence-button{
    background-color: white;
    border-radius: 9px;
    padding: 17px;
    font-size: 16px;
    cursor: pointer;
}

.video-description{
    padding-top: 10px;
}

@media (max-width: 2080px) {
    .video-card div{
        width: 100% !important;
    }
}

@media (min-width: 2080px) {
    .video-title,
    .video-description{
        padding: 18px 0px;
        text-align: center;
    }

    .video-card div{
        margin: 0 auto;
    }

    .video-wrapper{
        padding-top: 3%;
    }
}