.images-container{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.images-container img{
    width: 20%;
    height: 200px;
    cursor: pointer;
}

.images-container img:hover{
    filter: opacity(0.5);
}

@media (min-width: 1200px) {
    .images-container img{
        height: initial;
    }
}

@media (min-width: 1800px) {
    .images-container img{
        width: 10%;
    }
}

