.title-glosario{
    padding: 40px 0px 0px 50px
}

.letter{
    padding: 20px 0px;
    font-size: 30px;
}

.quote{
    max-width: 40ch;
}

.glosario-container{
    padding: 20px 50px 50px;
}

.letras{
    padding: 20px 50px 0px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.letras a{
    color: black;
    font-weight: bold;
}