.main-container-real{
    display: flex;
    width: 1200px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.sub-container-real{
    display: flex;
    flex-wrap: wrap;
    padding-top: 70px;
}

.main-translate-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    padding-top: 60px;
}

.translate--container{
    width: 25%;
}

.title-translate{
    padding: 0px 55px;
    font-size: 20px;
    width: 40ch;
}

.translate{
    padding: 15px 55px;
    font-size: 18px;
    height: 200px;
}

.main-container{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.sub-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

.main-title,
.sub-title{
    width: 100%;
    text-align: center;
}

.question{
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

.translate-container{
    width: 500px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.fake-input {
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 23px;
    width: 80%;
    border: 2px solid black;
}

.fake-input:focus {
    outline: none;
}

.last-update{
    color: gray;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
}

.ch-65{
    width: 80ch;
    margin: 0 auto;
    padding-bottom: 70px;
}

.lu-tb{
    padding: 30px 0px;
}