.images-container{
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}

.images-click{
    cursor: pointer;
}

.images-click:hover{
    filter: opacity(0.5);
}

@media (min-width: 1200px) {
    .images-click{
        height: initial;
    }
    .images-click{
        width: 20%;
    }
}

@media (min-width: 1800px) {
    .images-click{
        width: 10%;
    }
}