.home-container{
    min-height: 110vh;
    /* background-image: url("C:\Users\Ramiro\Desktop\workspace\laguna-lexica\src\assets\images\fondo.png"); */
}

.home-sub-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    /* display: flex;
    flex-wrap: wrap; */
}

.title-inicio,
.subtitle-inicio{
    width: 100%;
    text-align: center;
}

.subtitle-inicio{
    font-weight: 500;
}

.texto{
    width: 100ch;
    font-size: 21px;
    margin: 0 auto;
    text-align: justify;
}

.p-50{
    padding-top: 55px;
    padding-bottom: 5px;
}

.yagan-word button{
    border: none;
    background: none;
    font-size: 21px;
    color: #1f7a8c;
    cursor: pointer;
    text-decoration: underline;
    padding: 0px 5px;
}

.yagan-word1{
    font-size: 21px;
    color: #1f7a8c;
    text-decoration: underline;
    cursor: pointer;
}

.machine{
    position: relative;
}

.machine::after{
    content: "";
    white-space: nowrap;
    right: 0;
    border-left: 0px solid black;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    position: absolute;
    width: 0;
    animation: machine 3s steps(50);
    overflow: hidden;
}

.mg-auto{
    margin: 0 auto;
    max-width: 65ch;
}

@keyframes machine {
    from{
        width: 100%;
        border-left: 2px solid black;
    }
}