.home-container{
    min-height: 110vh;
}

.bgi{
    background-image: url('../../assets/images/fondo.png');
    background-size: cover;
}

.home-sub-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
    /* display: flex;
    flex-wrap: wrap; */
}

.title-inicio,
.subtitle-inicio{
    width: 100%;
    text-align: center;
}

.subtitle-inicio{
    font-weight: 500;
}

.texto{
    width: 100ch;
    font-size: 21px;
    margin: 0 auto;
    text-align: justify;
}

.p-50{
    padding-top: 55px;
    padding-bottom: 5px;
}

.yagan-word button{
    border: none;
    background: none;
    font-size: 21px;
    color: #1f7a8c;
    cursor: pointer;
    text-decoration: underline;
    padding: 0px 5px;
}

.yagan-word1{
    font-size: 21px;
    color: #1f7a8c;
    text-decoration: underline;
    cursor: pointer;
}

.machine{
    position: relative;
}

.machine::after{
    content: "";
    white-space: nowrap;
    right: 0;
    border-left: 0px solid black;
    background-color: #fafafa;
    width: 100%;
    height: 100%;
    position: absolute;
    width: 0;
    animation: machine 3s steps(50);
    overflow: hidden;
}

.marcador1{
    background-image: url('../../assets/images/marcador-clarito.png');
    background-size: cover;
}

.marcador2{
    background-image: url('../../assets/images/marcador-celeste.png');
    background-size: cover;
}

.marcador3{
    background-image: url('../../assets/images/marcador-marron.png');
    background-size: cover;
}

.marcador4{
    background-image: url('../../assets/images/marcador-rosa.png');
    background-size: cover;
}

.marcador5{
    background-image: url('../../assets/images/marcador-violeta.png');
    background-size: cover;
}

.marcador6{
    background-image: url('../../assets/images/marcador-verde.png');
    background-size: cover;
}

.mg-auto{
    margin: 0 auto;
    max-width: 65ch;
}

.flecha-container{
    display: flex;
}

.flecha-container .title-inicio{
    text-align: left;
    width: 70%;
}

.flecha-container .texto{
    text-align: left;
    padding-top: 0px;
}

.flecha{
    border-right: 3px solid black;
    padding: 15px 0px;
    width: 10%;
    margin-right: 65px;
}

@keyframes machine {
    from{
        width: 100%;
        border-left: 2px solid black;
    }
}