.propuesta-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.propuesta--wrapper,
.propuesta-img{
    width: 49%;
}

.propuesta--wrapper h1{
    padding-bottom: 25px;
}

.text-propuesta{
    text-align: justify;
    font-size: 18px;
}

.propuesta-img img{
    width: 67%;
    display: flex;
    margin: 0 auto;
}