.search-text{
    text-align: center;
    padding: 55px;
    font-size: 20px;
}

.search-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 200px;
    width: 1200px;
    margin: 0 auto;
}

.search-card{
    width: 33%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.search-card img{
    width: 120px;
    height: 120px;
    cursor: pointer;
}

.selected{
    opacity: 0.3;
}

.no-selected img{
    opacity: 1;
}

.btn{
    background-color: white;
    border-radius: 9px;
    padding: 12px;
    font-size: 17px;
    cursor: pointer;
    width: 17%;
    margin: 0 auto;
    margin-top: 10px;
}

.is-loading{
    display: block;
    width: 50px;
    margin: 0 auto;
}

.not-loading{
    display: none;
}