.navbar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 20px;
}

.fake-nav{
    background-color: #fafafa;
}

.navbar ul{
    list-style-type: none;
}

.navbar ul li{
    float: left;
}

.logo-container{
    display: flex;
}

.logo2{
    text-align: center;
    margin: auto 0;
    padding-left: 15px;
}

.logo h1{
    color: black;
}

.logo2 h1{
    color: #1c3c48;
}

.logo-img{
    width: 50px;
}

.navbar ul li a,
.li-fake{
    border: 1px solid #fafafa;
    display: block;
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 14px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0px 16px;
}

.li-fake{
    color: #fafafa;
}

.logo-fake,
.li-fake{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
}

.navbar ul li a:hover{
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
}


.navbar > * {
    padding: 0px 30px;
}

.active{
    border-bottom: 1px solid black !important;
}

.header{
    background-color: #e6e6e6;
}

.header .navbar ul li a{
    border: 1px solid #e6e6e6;
}