* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fafafa;
    /* background-image: url("C:\Users\Ramiro\Desktop\workspace\laguna-lexica\src\assets\images\fondo.png"); */
}

/* header{
    background-color: #e6e6e6;
} */

html, body {
    height: 100vh;
    scroll-behavior: smooth;
}